<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>gwe-ethi</key>
  <string>gwe-ethi.glif</string>
  <key>gwee-ethi</key>
  <string>gwee-ethi.glif</string>
  <key>gwi-ethi</key>
  <string>gwi-ethi.glif</string>
  <key>kwe-ethi</key>
  <string>kwe-ethi.glif</string>
  <key>kwee-ethi</key>
  <string>kwee-ethi.glif</string>
  <key>kwi-ethi</key>
  <string>kwi-ethi.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>qwe-ethi</key>
  <string>qwe-ethi.glif</string>
  <key>qwee-ethi</key>
  <string>qwee-ethi.glif</string>
  <key>qwi-ethi</key>
  <string>qwi-ethi.glif</string>
  <key>uni000D</key>
  <string>uni000D_.glif</string>
  <key>uni0020</key>
  <string>uni0020.glif</string>
  <key>uni0021</key>
  <string>uni0021.glif</string>
  <key>uni0022</key>
  <string>uni0022.glif</string>
  <key>uni0023</key>
  <string>uni0023.glif</string>
  <key>uni0024</key>
  <string>uni0024.glif</string>
  <key>uni0025</key>
  <string>uni0025.glif</string>
  <key>uni0026</key>
  <string>uni0026.glif</string>
  <key>uni0027</key>
  <string>uni0027.glif</string>
  <key>uni0028</key>
  <string>uni0028.glif</string>
  <key>uni0029</key>
  <string>uni0029.glif</string>
  <key>uni002A</key>
  <string>uni002A_.glif</string>
  <key>uni002B</key>
  <string>uni002B_.glif</string>
  <key>uni002C</key>
  <string>uni002C_.glif</string>
  <key>uni002D</key>
  <string>uni002D_.glif</string>
  <key>uni002E</key>
  <string>uni002E_.glif</string>
  <key>uni002F</key>
  <string>uni002F_.glif</string>
  <key>uni0030</key>
  <string>uni0030.glif</string>
  <key>uni0031</key>
  <string>uni0031.glif</string>
  <key>uni0032</key>
  <string>uni0032.glif</string>
  <key>uni0033</key>
  <string>uni0033.glif</string>
  <key>uni0034</key>
  <string>uni0034.glif</string>
  <key>uni0035</key>
  <string>uni0035.glif</string>
  <key>uni0036</key>
  <string>uni0036.glif</string>
  <key>uni0037</key>
  <string>uni0037.glif</string>
  <key>uni0038</key>
  <string>uni0038.glif</string>
  <key>uni0039</key>
  <string>uni0039.glif</string>
  <key>uni003A</key>
  <string>uni003A_.glif</string>
  <key>uni003B</key>
  <string>uni003B_.glif</string>
  <key>uni003C</key>
  <string>uni003C_.glif</string>
  <key>uni003D</key>
  <string>uni003D_.glif</string>
  <key>uni003E</key>
  <string>uni003E_.glif</string>
  <key>uni003F</key>
  <string>uni003F_.glif</string>
  <key>uni0040</key>
  <string>uni0040.glif</string>
  <key>uni0041</key>
  <string>uni0041.glif</string>
  <key>uni0042</key>
  <string>uni0042.glif</string>
  <key>uni0043</key>
  <string>uni0043.glif</string>
  <key>uni0044</key>
  <string>uni0044.glif</string>
  <key>uni0045</key>
  <string>uni0045.glif</string>
  <key>uni0046</key>
  <string>uni0046.glif</string>
  <key>uni0047</key>
  <string>uni0047.glif</string>
  <key>uni0048</key>
  <string>uni0048.glif</string>
  <key>uni0049</key>
  <string>uni0049.glif</string>
  <key>uni004A</key>
  <string>uni004A_.glif</string>
  <key>uni004B</key>
  <string>uni004B_.glif</string>
  <key>uni004C</key>
  <string>uni004C_.glif</string>
  <key>uni004D</key>
  <string>uni004D_.glif</string>
  <key>uni004E</key>
  <string>uni004E_.glif</string>
  <key>uni004F</key>
  <string>uni004F_.glif</string>
  <key>uni0050</key>
  <string>uni0050.glif</string>
  <key>uni0051</key>
  <string>uni0051.glif</string>
  <key>uni0052</key>
  <string>uni0052.glif</string>
  <key>uni0053</key>
  <string>uni0053.glif</string>
  <key>uni0054</key>
  <string>uni0054.glif</string>
  <key>uni0055</key>
  <string>uni0055.glif</string>
  <key>uni0056</key>
  <string>uni0056.glif</string>
  <key>uni0057</key>
  <string>uni0057.glif</string>
  <key>uni0058</key>
  <string>uni0058.glif</string>
  <key>uni0059</key>
  <string>uni0059.glif</string>
  <key>uni005A</key>
  <string>uni005A_.glif</string>
  <key>uni005B</key>
  <string>uni005B_.glif</string>
  <key>uni005C</key>
  <string>uni005C_.glif</string>
  <key>uni005D</key>
  <string>uni005D_.glif</string>
  <key>uni005E</key>
  <string>uni005E_.glif</string>
  <key>uni005F</key>
  <string>uni005F_.glif</string>
  <key>uni0060</key>
  <string>uni0060.glif</string>
  <key>uni0061</key>
  <string>uni0061.glif</string>
  <key>uni0062</key>
  <string>uni0062.glif</string>
  <key>uni0063</key>
  <string>uni0063.glif</string>
  <key>uni0064</key>
  <string>uni0064.glif</string>
  <key>uni0065</key>
  <string>uni0065.glif</string>
  <key>uni0066</key>
  <string>uni0066.glif</string>
  <key>uni0067</key>
  <string>uni0067.glif</string>
  <key>uni0068</key>
  <string>uni0068.glif</string>
  <key>uni0069</key>
  <string>uni0069.glif</string>
  <key>uni006A</key>
  <string>uni006A_.glif</string>
  <key>uni006B</key>
  <string>uni006B_.glif</string>
  <key>uni006C</key>
  <string>uni006C_.glif</string>
  <key>uni006D</key>
  <string>uni006D_.glif</string>
  <key>uni006E</key>
  <string>uni006E_.glif</string>
  <key>uni006F</key>
  <string>uni006F_.glif</string>
  <key>uni0070</key>
  <string>uni0070.glif</string>
  <key>uni0071</key>
  <string>uni0071.glif</string>
  <key>uni0072</key>
  <string>uni0072.glif</string>
  <key>uni0073</key>
  <string>uni0073.glif</string>
  <key>uni0074</key>
  <string>uni0074.glif</string>
  <key>uni0075</key>
  <string>uni0075.glif</string>
  <key>uni0076</key>
  <string>uni0076.glif</string>
  <key>uni0077</key>
  <string>uni0077.glif</string>
  <key>uni0078</key>
  <string>uni0078.glif</string>
  <key>uni0079</key>
  <string>uni0079.glif</string>
  <key>uni007A</key>
  <string>uni007A_.glif</string>
  <key>uni007B</key>
  <string>uni007B_.glif</string>
  <key>uni007C</key>
  <string>uni007C_.glif</string>
  <key>uni007D</key>
  <string>uni007D_.glif</string>
  <key>uni007E</key>
  <string>uni007E_.glif</string>
  <key>uni00A1</key>
  <string>uni00A_1.glif</string>
  <key>uni00A2</key>
  <string>uni00A_2.glif</string>
  <key>uni00A3</key>
  <string>uni00A_3.glif</string>
  <key>uni00A4</key>
  <string>uni00A_4.glif</string>
  <key>uni00A5</key>
  <string>uni00A_5.glif</string>
  <key>uni00A6</key>
  <string>uni00A_6.glif</string>
  <key>uni00A7</key>
  <string>uni00A_7.glif</string>
  <key>uni00A8</key>
  <string>uni00A_8.glif</string>
  <key>uni00A9</key>
  <string>uni00A_9.glif</string>
  <key>uni00AA</key>
  <string>uni00A_A_.glif</string>
  <key>uni00AB</key>
  <string>uni00A_B_.glif</string>
  <key>uni00AC</key>
  <string>uni00A_C_.glif</string>
  <key>uni00AE</key>
  <string>uni00A_E_.glif</string>
  <key>uni00AF</key>
  <string>uni00A_F_.glif</string>
  <key>uni00B0</key>
  <string>uni00B_0.glif</string>
  <key>uni00B1</key>
  <string>uni00B_1.glif</string>
  <key>uni00B2</key>
  <string>uni00B_2.glif</string>
  <key>uni00B3</key>
  <string>uni00B_3.glif</string>
  <key>uni00B4</key>
  <string>uni00B_4.glif</string>
  <key>uni00B6</key>
  <string>uni00B_6.glif</string>
  <key>uni00B7</key>
  <string>uni00B_7.glif</string>
  <key>uni00B8</key>
  <string>uni00B_8.glif</string>
  <key>uni00B9</key>
  <string>uni00B_9.glif</string>
  <key>uni00BA</key>
  <string>uni00B_A_.glif</string>
  <key>uni00BB</key>
  <string>uni00B_B_.glif</string>
  <key>uni00BC</key>
  <string>uni00B_C_.glif</string>
  <key>uni00BD</key>
  <string>uni00B_D_.glif</string>
  <key>uni00BE</key>
  <string>uni00B_E_.glif</string>
  <key>uni00BF</key>
  <string>uni00B_F_.glif</string>
  <key>uni00C0</key>
  <string>uni00C_0.glif</string>
  <key>uni00C1</key>
  <string>uni00C_1.glif</string>
  <key>uni00C2</key>
  <string>uni00C_2.glif</string>
  <key>uni00C3</key>
  <string>uni00C_3.glif</string>
  <key>uni00C4</key>
  <string>uni00C_4.glif</string>
  <key>uni00C5</key>
  <string>uni00C_5.glif</string>
  <key>uni00C6</key>
  <string>uni00C_6.glif</string>
  <key>uni00C7</key>
  <string>uni00C_7.glif</string>
  <key>uni00C8</key>
  <string>uni00C_8.glif</string>
  <key>uni00C9</key>
  <string>uni00C_9.glif</string>
  <key>uni00CA</key>
  <string>uni00C_A_.glif</string>
  <key>uni00CB</key>
  <string>uni00C_B_.glif</string>
  <key>uni00CC</key>
  <string>uni00C_C_.glif</string>
  <key>uni00CD</key>
  <string>uni00C_D_.glif</string>
  <key>uni00CE</key>
  <string>uni00C_E_.glif</string>
  <key>uni00CF</key>
  <string>uni00C_F_.glif</string>
  <key>uni00D0</key>
  <string>uni00D_0.glif</string>
  <key>uni00D1</key>
  <string>uni00D_1.glif</string>
  <key>uni00D2</key>
  <string>uni00D_2.glif</string>
  <key>uni00D3</key>
  <string>uni00D_3.glif</string>
  <key>uni00D4</key>
  <string>uni00D_4.glif</string>
  <key>uni00D5</key>
  <string>uni00D_5.glif</string>
  <key>uni00D6</key>
  <string>uni00D_6.glif</string>
  <key>uni00D7</key>
  <string>uni00D_7.glif</string>
  <key>uni00D8</key>
  <string>uni00D_8.glif</string>
  <key>uni00D9</key>
  <string>uni00D_9.glif</string>
  <key>uni00DA</key>
  <string>uni00D_A_.glif</string>
  <key>uni00DB</key>
  <string>uni00D_B_.glif</string>
  <key>uni00DC</key>
  <string>uni00D_C_.glif</string>
  <key>uni00DD</key>
  <string>uni00D_D_.glif</string>
  <key>uni00DE</key>
  <string>uni00D_E_.glif</string>
  <key>uni00DF</key>
  <string>uni00D_F_.glif</string>
  <key>uni00E0</key>
  <string>uni00E_0.glif</string>
  <key>uni00E1</key>
  <string>uni00E_1.glif</string>
  <key>uni00E2</key>
  <string>uni00E_2.glif</string>
  <key>uni00E3</key>
  <string>uni00E_3.glif</string>
  <key>uni00E4</key>
  <string>uni00E_4.glif</string>
  <key>uni00E5</key>
  <string>uni00E_5.glif</string>
  <key>uni00E6</key>
  <string>uni00E_6.glif</string>
  <key>uni00E7</key>
  <string>uni00E_7.glif</string>
  <key>uni00E8</key>
  <string>uni00E_8.glif</string>
  <key>uni00E9</key>
  <string>uni00E_9.glif</string>
  <key>uni00EA</key>
  <string>uni00E_A_.glif</string>
  <key>uni00EB</key>
  <string>uni00E_B_.glif</string>
  <key>uni00EC</key>
  <string>uni00E_C_.glif</string>
  <key>uni00ED</key>
  <string>uni00E_D_.glif</string>
  <key>uni00EE</key>
  <string>uni00E_E_.glif</string>
  <key>uni00EF</key>
  <string>uni00E_F_.glif</string>
  <key>uni00F0</key>
  <string>uni00F_0.glif</string>
  <key>uni00F1</key>
  <string>uni00F_1.glif</string>
  <key>uni00F2</key>
  <string>uni00F_2.glif</string>
  <key>uni00F3</key>
  <string>uni00F_3.glif</string>
  <key>uni00F4</key>
  <string>uni00F_4.glif</string>
  <key>uni00F5</key>
  <string>uni00F_5.glif</string>
  <key>uni00F6</key>
  <string>uni00F_6.glif</string>
  <key>uni00F7</key>
  <string>uni00F_7.glif</string>
  <key>uni00F8</key>
  <string>uni00F_8.glif</string>
  <key>uni00F9</key>
  <string>uni00F_9.glif</string>
  <key>uni00FA</key>
  <string>uni00F_A_.glif</string>
  <key>uni00FB</key>
  <string>uni00F_B_.glif</string>
  <key>uni00FC</key>
  <string>uni00F_C_.glif</string>
  <key>uni00FD</key>
  <string>uni00F_D_.glif</string>
  <key>uni00FE</key>
  <string>uni00F_E_.glif</string>
  <key>uni00FF</key>
  <string>uni00F_F_.glif</string>
  <key>uni0152</key>
  <string>uni0152.glif</string>
  <key>uni0153</key>
  <string>uni0153.glif</string>
  <key>uni0160</key>
  <string>uni0160.glif</string>
  <key>uni0161</key>
  <string>uni0161.glif</string>
  <key>uni0178</key>
  <string>uni0178.glif</string>
  <key>uni017D</key>
  <string>uni017D_.glif</string>
  <key>uni017E</key>
  <string>uni017E_.glif</string>
  <key>uni0192</key>
  <string>uni0192.glif</string>
  <key>uni02C6</key>
  <string>uni02C_6.glif</string>
  <key>uni02DC</key>
  <string>uni02D_C_.glif</string>
  <key>uni1200</key>
  <string>uni1200.glif</string>
  <key>uni1201</key>
  <string>uni1201.glif</string>
  <key>uni1202</key>
  <string>uni1202.glif</string>
  <key>uni1203</key>
  <string>uni1203.glif</string>
  <key>uni1204</key>
  <string>uni1204.glif</string>
  <key>uni1205</key>
  <string>uni1205.glif</string>
  <key>uni1206</key>
  <string>uni1206.glif</string>
  <key>uni1208</key>
  <string>uni1208.glif</string>
  <key>uni1209</key>
  <string>uni1209.glif</string>
  <key>uni120A</key>
  <string>uni120A_.glif</string>
  <key>uni120B</key>
  <string>uni120B_.glif</string>
  <key>uni120C</key>
  <string>uni120C_.glif</string>
  <key>uni120D</key>
  <string>uni120D_.glif</string>
  <key>uni120E</key>
  <string>uni120E_.glif</string>
  <key>uni120F</key>
  <string>uni120F_.glif</string>
  <key>uni1210</key>
  <string>uni1210.glif</string>
  <key>uni1211</key>
  <string>uni1211.glif</string>
  <key>uni1212</key>
  <string>uni1212.glif</string>
  <key>uni1213</key>
  <string>uni1213.glif</string>
  <key>uni1214</key>
  <string>uni1214.glif</string>
  <key>uni1215</key>
  <string>uni1215.glif</string>
  <key>uni1216</key>
  <string>uni1216.glif</string>
  <key>uni1217</key>
  <string>uni1217.glif</string>
  <key>uni1218</key>
  <string>uni1218.glif</string>
  <key>uni1219</key>
  <string>uni1219.glif</string>
  <key>uni121A</key>
  <string>uni121A_.glif</string>
  <key>uni121B</key>
  <string>uni121B_.glif</string>
  <key>uni121C</key>
  <string>uni121C_.glif</string>
  <key>uni121D</key>
  <string>uni121D_.glif</string>
  <key>uni121E</key>
  <string>uni121E_.glif</string>
  <key>uni121F</key>
  <string>uni121F_.glif</string>
  <key>uni1220</key>
  <string>uni1220.glif</string>
  <key>uni1221</key>
  <string>uni1221.glif</string>
  <key>uni1222</key>
  <string>uni1222.glif</string>
  <key>uni1223</key>
  <string>uni1223.glif</string>
  <key>uni1224</key>
  <string>uni1224.glif</string>
  <key>uni1225</key>
  <string>uni1225.glif</string>
  <key>uni1226</key>
  <string>uni1226.glif</string>
  <key>uni1227</key>
  <string>uni1227.glif</string>
  <key>uni1228</key>
  <string>uni1228.glif</string>
  <key>uni1229</key>
  <string>uni1229.glif</string>
  <key>uni122A</key>
  <string>uni122A_.glif</string>
  <key>uni122B</key>
  <string>uni122B_.glif</string>
  <key>uni122C</key>
  <string>uni122C_.glif</string>
  <key>uni122D</key>
  <string>uni122D_.glif</string>
  <key>uni122E</key>
  <string>uni122E_.glif</string>
  <key>uni122F</key>
  <string>uni122F_.glif</string>
  <key>uni1230</key>
  <string>uni1230.glif</string>
  <key>uni1231</key>
  <string>uni1231.glif</string>
  <key>uni1232</key>
  <string>uni1232.glif</string>
  <key>uni1233</key>
  <string>uni1233.glif</string>
  <key>uni1234</key>
  <string>uni1234.glif</string>
  <key>uni1235</key>
  <string>uni1235.glif</string>
  <key>uni1236</key>
  <string>uni1236.glif</string>
  <key>uni1237</key>
  <string>uni1237.glif</string>
  <key>uni1238</key>
  <string>uni1238.glif</string>
  <key>uni1239</key>
  <string>uni1239.glif</string>
  <key>uni123A</key>
  <string>uni123A_.glif</string>
  <key>uni123B</key>
  <string>uni123B_.glif</string>
  <key>uni123C</key>
  <string>uni123C_.glif</string>
  <key>uni123D</key>
  <string>uni123D_.glif</string>
  <key>uni123E</key>
  <string>uni123E_.glif</string>
  <key>uni123F</key>
  <string>uni123F_.glif</string>
  <key>uni1240</key>
  <string>uni1240.glif</string>
  <key>uni1241</key>
  <string>uni1241.glif</string>
  <key>uni1242</key>
  <string>uni1242.glif</string>
  <key>uni1243</key>
  <string>uni1243.glif</string>
  <key>uni1244</key>
  <string>uni1244.glif</string>
  <key>uni1245</key>
  <string>uni1245.glif</string>
  <key>uni1246</key>
  <string>uni1246.glif</string>
  <key>uni1248</key>
  <string>uni1248.glif</string>
  <key>uni124B</key>
  <string>uni124B_.glif</string>
  <key>uni1250</key>
  <string>uni1250.glif</string>
  <key>uni1251</key>
  <string>uni1251.glif</string>
  <key>uni1252</key>
  <string>uni1252.glif</string>
  <key>uni1253</key>
  <string>uni1253.glif</string>
  <key>uni1254</key>
  <string>uni1254.glif</string>
  <key>uni1255</key>
  <string>uni1255.glif</string>
  <key>uni1256</key>
  <string>uni1256.glif</string>
  <key>uni1258</key>
  <string>uni1258.glif</string>
  <key>uni125A</key>
  <string>uni125A_.glif</string>
  <key>uni125B</key>
  <string>uni125B_.glif</string>
  <key>uni125C</key>
  <string>uni125C_.glif</string>
  <key>uni125D</key>
  <string>uni125D_.glif</string>
  <key>uni1260</key>
  <string>uni1260.glif</string>
  <key>uni1261</key>
  <string>uni1261.glif</string>
  <key>uni1262</key>
  <string>uni1262.glif</string>
  <key>uni1263</key>
  <string>uni1263.glif</string>
  <key>uni1264</key>
  <string>uni1264.glif</string>
  <key>uni1265</key>
  <string>uni1265.glif</string>
  <key>uni1266</key>
  <string>uni1266.glif</string>
  <key>uni1267</key>
  <string>uni1267.glif</string>
  <key>uni1268</key>
  <string>uni1268.glif</string>
  <key>uni1269</key>
  <string>uni1269.glif</string>
  <key>uni126A</key>
  <string>uni126A_.glif</string>
  <key>uni126B</key>
  <string>uni126B_.glif</string>
  <key>uni126C</key>
  <string>uni126C_.glif</string>
  <key>uni126D</key>
  <string>uni126D_.glif</string>
  <key>uni126E</key>
  <string>uni126E_.glif</string>
  <key>uni126F</key>
  <string>uni126F_.glif</string>
  <key>uni1270</key>
  <string>uni1270.glif</string>
  <key>uni1271</key>
  <string>uni1271.glif</string>
  <key>uni1272</key>
  <string>uni1272.glif</string>
  <key>uni1273</key>
  <string>uni1273.glif</string>
  <key>uni1274</key>
  <string>uni1274.glif</string>
  <key>uni1275</key>
  <string>uni1275.glif</string>
  <key>uni1276</key>
  <string>uni1276.glif</string>
  <key>uni1277</key>
  <string>uni1277.glif</string>
  <key>uni1278</key>
  <string>uni1278.glif</string>
  <key>uni1279</key>
  <string>uni1279.glif</string>
  <key>uni127A</key>
  <string>uni127A_.glif</string>
  <key>uni127B</key>
  <string>uni127B_.glif</string>
  <key>uni127C</key>
  <string>uni127C_.glif</string>
  <key>uni127D</key>
  <string>uni127D_.glif</string>
  <key>uni127E</key>
  <string>uni127E_.glif</string>
  <key>uni127F</key>
  <string>uni127F_.glif</string>
  <key>uni1280</key>
  <string>uni1280.glif</string>
  <key>uni1281</key>
  <string>uni1281.glif</string>
  <key>uni1282</key>
  <string>uni1282.glif</string>
  <key>uni1283</key>
  <string>uni1283.glif</string>
  <key>uni1284</key>
  <string>uni1284.glif</string>
  <key>uni1285</key>
  <string>uni1285.glif</string>
  <key>uni1286</key>
  <string>uni1286.glif</string>
  <key>uni1288</key>
  <string>uni1288.glif</string>
  <key>uni128A</key>
  <string>uni128A_.glif</string>
  <key>uni128B</key>
  <string>uni128B_.glif</string>
  <key>uni128C</key>
  <string>uni128C_.glif</string>
  <key>uni128D</key>
  <string>uni128D_.glif</string>
  <key>uni1290</key>
  <string>uni1290.glif</string>
  <key>uni1291</key>
  <string>uni1291.glif</string>
  <key>uni1292</key>
  <string>uni1292.glif</string>
  <key>uni1293</key>
  <string>uni1293.glif</string>
  <key>uni1294</key>
  <string>uni1294.glif</string>
  <key>uni1295</key>
  <string>uni1295.glif</string>
  <key>uni1296</key>
  <string>uni1296.glif</string>
  <key>uni1297</key>
  <string>uni1297.glif</string>
  <key>uni1298</key>
  <string>uni1298.glif</string>
  <key>uni1299</key>
  <string>uni1299.glif</string>
  <key>uni129A</key>
  <string>uni129A_.glif</string>
  <key>uni129B</key>
  <string>uni129B_.glif</string>
  <key>uni129C</key>
  <string>uni129C_.glif</string>
  <key>uni129D</key>
  <string>uni129D_.glif</string>
  <key>uni129E</key>
  <string>uni129E_.glif</string>
  <key>uni129F</key>
  <string>uni129F_.glif</string>
  <key>uni12A0</key>
  <string>uni12A_0.glif</string>
  <key>uni12A1</key>
  <string>uni12A_1.glif</string>
  <key>uni12A2</key>
  <string>uni12A_2.glif</string>
  <key>uni12A3</key>
  <string>uni12A_3.glif</string>
  <key>uni12A4</key>
  <string>uni12A_4.glif</string>
  <key>uni12A5</key>
  <string>uni12A_5.glif</string>
  <key>uni12A6</key>
  <string>uni12A_6.glif</string>
  <key>uni12A7</key>
  <string>uni12A_7.glif</string>
  <key>uni12A8</key>
  <string>uni12A_8.glif</string>
  <key>uni12A9</key>
  <string>uni12A_9.glif</string>
  <key>uni12AA</key>
  <string>uni12A_A_.glif</string>
  <key>uni12AB</key>
  <string>uni12A_B_.glif</string>
  <key>uni12AC</key>
  <string>uni12A_C_.glif</string>
  <key>uni12AD</key>
  <string>uni12A_D_.glif</string>
  <key>uni12AE</key>
  <string>uni12A_E_.glif</string>
  <key>uni12B0</key>
  <string>uni12B_0.glif</string>
  <key>uni12B3</key>
  <string>uni12B_3.glif</string>
  <key>uni12B8</key>
  <string>uni12B_8.glif</string>
  <key>uni12B9</key>
  <string>uni12B_9.glif</string>
  <key>uni12BA</key>
  <string>uni12B_A_.glif</string>
  <key>uni12BB</key>
  <string>uni12B_B_.glif</string>
  <key>uni12BC</key>
  <string>uni12B_C_.glif</string>
  <key>uni12BD</key>
  <string>uni12B_D_.glif</string>
  <key>uni12BE</key>
  <string>uni12B_E_.glif</string>
  <key>uni12C0</key>
  <string>uni12C_0.glif</string>
  <key>uni12C2</key>
  <string>uni12C_2.glif</string>
  <key>uni12C3</key>
  <string>uni12C_3.glif</string>
  <key>uni12C4</key>
  <string>uni12C_4.glif</string>
  <key>uni12C5</key>
  <string>uni12C_5.glif</string>
  <key>uni12C8</key>
  <string>uni12C_8.glif</string>
  <key>uni12C9</key>
  <string>uni12C_9.glif</string>
  <key>uni12CA</key>
  <string>uni12C_A_.glif</string>
  <key>uni12CB</key>
  <string>uni12C_B_.glif</string>
  <key>uni12CC</key>
  <string>uni12C_C_.glif</string>
  <key>uni12CD</key>
  <string>uni12C_D_.glif</string>
  <key>uni12CE</key>
  <string>uni12C_E_.glif</string>
  <key>uni12D0</key>
  <string>uni12D_0.glif</string>
  <key>uni12D1</key>
  <string>uni12D_1.glif</string>
  <key>uni12D2</key>
  <string>uni12D_2.glif</string>
  <key>uni12D3</key>
  <string>uni12D_3.glif</string>
  <key>uni12D4</key>
  <string>uni12D_4.glif</string>
  <key>uni12D5</key>
  <string>uni12D_5.glif</string>
  <key>uni12D6</key>
  <string>uni12D_6.glif</string>
  <key>uni12D8</key>
  <string>uni12D_8.glif</string>
  <key>uni12D9</key>
  <string>uni12D_9.glif</string>
  <key>uni12DA</key>
  <string>uni12D_A_.glif</string>
  <key>uni12DB</key>
  <string>uni12D_B_.glif</string>
  <key>uni12DC</key>
  <string>uni12D_C_.glif</string>
  <key>uni12DD</key>
  <string>uni12D_D_.glif</string>
  <key>uni12DE</key>
  <string>uni12D_E_.glif</string>
  <key>uni12DF</key>
  <string>uni12D_F_.glif</string>
  <key>uni12E0</key>
  <string>uni12E_0.glif</string>
  <key>uni12E1</key>
  <string>uni12E_1.glif</string>
  <key>uni12E2</key>
  <string>uni12E_2.glif</string>
  <key>uni12E3</key>
  <string>uni12E_3.glif</string>
  <key>uni12E4</key>
  <string>uni12E_4.glif</string>
  <key>uni12E5</key>
  <string>uni12E_5.glif</string>
  <key>uni12E6</key>
  <string>uni12E_6.glif</string>
  <key>uni12E7</key>
  <string>uni12E_7.glif</string>
  <key>uni12E8</key>
  <string>uni12E_8.glif</string>
  <key>uni12E9</key>
  <string>uni12E_9.glif</string>
  <key>uni12EA</key>
  <string>uni12E_A_.glif</string>
  <key>uni12EB</key>
  <string>uni12E_B_.glif</string>
  <key>uni12EC</key>
  <string>uni12E_C_.glif</string>
  <key>uni12ED</key>
  <string>uni12E_D_.glif</string>
  <key>uni12EE</key>
  <string>uni12E_E_.glif</string>
  <key>uni12F0</key>
  <string>uni12F_0.glif</string>
  <key>uni12F1</key>
  <string>uni12F_1.glif</string>
  <key>uni12F2</key>
  <string>uni12F_2.glif</string>
  <key>uni12F3</key>
  <string>uni12F_3.glif</string>
  <key>uni12F4</key>
  <string>uni12F_4.glif</string>
  <key>uni12F5</key>
  <string>uni12F_5.glif</string>
  <key>uni12F6</key>
  <string>uni12F_6.glif</string>
  <key>uni12F7</key>
  <string>uni12F_7.glif</string>
  <key>uni12F8</key>
  <string>uni12F_8.glif</string>
  <key>uni12F9</key>
  <string>uni12F_9.glif</string>
  <key>uni12FA</key>
  <string>uni12F_A_.glif</string>
  <key>uni12FB</key>
  <string>uni12F_B_.glif</string>
  <key>uni12FC</key>
  <string>uni12F_C_.glif</string>
  <key>uni12FD</key>
  <string>uni12F_D_.glif</string>
  <key>uni12FE</key>
  <string>uni12F_E_.glif</string>
  <key>uni12FF</key>
  <string>uni12F_F_.glif</string>
  <key>uni1300</key>
  <string>uni1300.glif</string>
  <key>uni1301</key>
  <string>uni1301.glif</string>
  <key>uni1302</key>
  <string>uni1302.glif</string>
  <key>uni1303</key>
  <string>uni1303.glif</string>
  <key>uni1304</key>
  <string>uni1304.glif</string>
  <key>uni1305</key>
  <string>uni1305.glif</string>
  <key>uni1306</key>
  <string>uni1306.glif</string>
  <key>uni1307</key>
  <string>uni1307.glif</string>
  <key>uni1308</key>
  <string>uni1308.glif</string>
  <key>uni1309</key>
  <string>uni1309.glif</string>
  <key>uni130A</key>
  <string>uni130A_.glif</string>
  <key>uni130B</key>
  <string>uni130B_.glif</string>
  <key>uni130C</key>
  <string>uni130C_.glif</string>
  <key>uni130D</key>
  <string>uni130D_.glif</string>
  <key>uni130E</key>
  <string>uni130E_.glif</string>
  <key>uni1310</key>
  <string>uni1310.glif</string>
  <key>uni1313</key>
  <string>uni1313.glif</string>
  <key>uni1318</key>
  <string>uni1318.glif</string>
  <key>uni1319</key>
  <string>uni1319.glif</string>
  <key>uni131A</key>
  <string>uni131A_.glif</string>
  <key>uni131B</key>
  <string>uni131B_.glif</string>
  <key>uni131C</key>
  <string>uni131C_.glif</string>
  <key>uni131D</key>
  <string>uni131D_.glif</string>
  <key>uni131E</key>
  <string>uni131E_.glif</string>
  <key>uni1320</key>
  <string>uni1320.glif</string>
  <key>uni1321</key>
  <string>uni1321.glif</string>
  <key>uni1322</key>
  <string>uni1322.glif</string>
  <key>uni1323</key>
  <string>uni1323.glif</string>
  <key>uni1324</key>
  <string>uni1324.glif</string>
  <key>uni1325</key>
  <string>uni1325.glif</string>
  <key>uni1326</key>
  <string>uni1326.glif</string>
  <key>uni1327</key>
  <string>uni1327.glif</string>
  <key>uni1328</key>
  <string>uni1328.glif</string>
  <key>uni1329</key>
  <string>uni1329.glif</string>
  <key>uni132A</key>
  <string>uni132A_.glif</string>
  <key>uni132B</key>
  <string>uni132B_.glif</string>
  <key>uni132C</key>
  <string>uni132C_.glif</string>
  <key>uni132D</key>
  <string>uni132D_.glif</string>
  <key>uni132E</key>
  <string>uni132E_.glif</string>
  <key>uni132F</key>
  <string>uni132F_.glif</string>
  <key>uni1330</key>
  <string>uni1330.glif</string>
  <key>uni1331</key>
  <string>uni1331.glif</string>
  <key>uni1332</key>
  <string>uni1332.glif</string>
  <key>uni1333</key>
  <string>uni1333.glif</string>
  <key>uni1334</key>
  <string>uni1334.glif</string>
  <key>uni1335</key>
  <string>uni1335.glif</string>
  <key>uni1336</key>
  <string>uni1336.glif</string>
  <key>uni1337</key>
  <string>uni1337.glif</string>
  <key>uni1338</key>
  <string>uni1338.glif</string>
  <key>uni1339</key>
  <string>uni1339.glif</string>
  <key>uni133A</key>
  <string>uni133A_.glif</string>
  <key>uni133B</key>
  <string>uni133B_.glif</string>
  <key>uni133C</key>
  <string>uni133C_.glif</string>
  <key>uni133D</key>
  <string>uni133D_.glif</string>
  <key>uni133E</key>
  <string>uni133E_.glif</string>
  <key>uni133F</key>
  <string>uni133F_.glif</string>
  <key>uni1340</key>
  <string>uni1340.glif</string>
  <key>uni1341</key>
  <string>uni1341.glif</string>
  <key>uni1342</key>
  <string>uni1342.glif</string>
  <key>uni1343</key>
  <string>uni1343.glif</string>
  <key>uni1344</key>
  <string>uni1344.glif</string>
  <key>uni1345</key>
  <string>uni1345.glif</string>
  <key>uni1346</key>
  <string>uni1346.glif</string>
  <key>uni1348</key>
  <string>uni1348.glif</string>
  <key>uni1349</key>
  <string>uni1349.glif</string>
  <key>uni134A</key>
  <string>uni134A_.glif</string>
  <key>uni134B</key>
  <string>uni134B_.glif</string>
  <key>uni134C</key>
  <string>uni134C_.glif</string>
  <key>uni134D</key>
  <string>uni134D_.glif</string>
  <key>uni134E</key>
  <string>uni134E_.glif</string>
  <key>uni134F</key>
  <string>uni134F_.glif</string>
  <key>uni1350</key>
  <string>uni1350.glif</string>
  <key>uni1351</key>
  <string>uni1351.glif</string>
  <key>uni1352</key>
  <string>uni1352.glif</string>
  <key>uni1353</key>
  <string>uni1353.glif</string>
  <key>uni1354</key>
  <string>uni1354.glif</string>
  <key>uni1355</key>
  <string>uni1355.glif</string>
  <key>uni1356</key>
  <string>uni1356.glif</string>
  <key>uni1357</key>
  <string>uni1357.glif</string>
  <key>uni1358</key>
  <string>uni1358.glif</string>
  <key>uni1359</key>
  <string>uni1359.glif</string>
  <key>uni135A</key>
  <string>uni135A_.glif</string>
  <key>uni1360</key>
  <string>uni1360.glif</string>
  <key>uni1361</key>
  <string>uni1361.glif</string>
  <key>uni1362</key>
  <string>uni1362.glif</string>
  <key>uni1363</key>
  <string>uni1363.glif</string>
  <key>uni1364</key>
  <string>uni1364.glif</string>
  <key>uni1365</key>
  <string>uni1365.glif</string>
  <key>uni1366</key>
  <string>uni1366.glif</string>
  <key>uni1367</key>
  <string>uni1367.glif</string>
  <key>uni1368</key>
  <string>uni1368.glif</string>
  <key>uni1369</key>
  <string>uni1369.glif</string>
  <key>uni136A</key>
  <string>uni136A_.glif</string>
  <key>uni136B</key>
  <string>uni136B_.glif</string>
  <key>uni136C</key>
  <string>uni136C_.glif</string>
  <key>uni136D</key>
  <string>uni136D_.glif</string>
  <key>uni136E</key>
  <string>uni136E_.glif</string>
  <key>uni136F</key>
  <string>uni136F_.glif</string>
  <key>uni1370</key>
  <string>uni1370.glif</string>
  <key>uni1371</key>
  <string>uni1371.glif</string>
  <key>uni1372</key>
  <string>uni1372.glif</string>
  <key>uni1373</key>
  <string>uni1373.glif</string>
  <key>uni1374</key>
  <string>uni1374.glif</string>
  <key>uni1375</key>
  <string>uni1375.glif</string>
  <key>uni1376</key>
  <string>uni1376.glif</string>
  <key>uni1377</key>
  <string>uni1377.glif</string>
  <key>uni1378</key>
  <string>uni1378.glif</string>
  <key>uni1379</key>
  <string>uni1379.glif</string>
  <key>uni137A</key>
  <string>uni137A_.glif</string>
  <key>uni137B</key>
  <string>uni137B_.glif</string>
  <key>uni137C</key>
  <string>uni137C_.glif</string>
  <key>uni1380</key>
  <string>uni1380.glif</string>
  <key>uni1383</key>
  <string>uni1383.glif</string>
  <key>uni1384</key>
  <string>uni1384.glif</string>
  <key>uni1387</key>
  <string>uni1387.glif</string>
  <key>uni1388</key>
  <string>uni1388.glif</string>
  <key>uni138B</key>
  <string>uni138B_.glif</string>
  <key>uni138C</key>
  <string>uni138C_.glif</string>
  <key>uni138F</key>
  <string>uni138F_.glif</string>
  <key>uni1E7E0</key>
  <string>uni1E_7E_0.glif</string>
  <key>uni1E7E1</key>
  <string>uni1E_7E_1.glif</string>
  <key>uni1E7E2</key>
  <string>uni1E_7E_2.glif</string>
  <key>uni1E7E3</key>
  <string>uni1E_7E_3.glif</string>
  <key>uni1E7E4</key>
  <string>uni1E_7E_4.glif</string>
  <key>uni1E7E5</key>
  <string>uni1E_7E_5.glif</string>
  <key>uni1E7E6</key>
  <string>uni1E_7E_6.glif</string>
  <key>uni1E7E8</key>
  <string>uni1E_7E_8.glif</string>
  <key>uni1E7E9</key>
  <string>uni1E_7E_9.glif</string>
  <key>uni1E7EA</key>
  <string>uni1E_7E_A_.glif</string>
  <key>uni1E7EB</key>
  <string>uni1E_7E_B_.glif</string>
  <key>uni1E7ED</key>
  <string>uni1E_7E_D_.glif</string>
  <key>uni1E7EE</key>
  <string>uni1E_7E_E_.glif</string>
  <key>uni1E7F0</key>
  <string>uni1E_7F_0.glif</string>
  <key>uni1E7F1</key>
  <string>uni1E_7F_1.glif</string>
  <key>uni1E7F2</key>
  <string>uni1E_7F_2.glif</string>
  <key>uni1E7F3</key>
  <string>uni1E_7F_3.glif</string>
  <key>uni1E7F4</key>
  <string>uni1E_7F_4.glif</string>
  <key>uni1E7F5</key>
  <string>uni1E_7F_5.glif</string>
  <key>uni1E7F6</key>
  <string>uni1E_7F_6.glif</string>
  <key>uni1E7F7</key>
  <string>uni1E_7F_7.glif</string>
  <key>uni1E7F8</key>
  <string>uni1E_7F_8.glif</string>
  <key>uni1E7F9</key>
  <string>uni1E_7F_9.glif</string>
  <key>uni1E7FA</key>
  <string>uni1E_7F_A_.glif</string>
  <key>uni1E7FB</key>
  <string>uni1E_7F_B_.glif</string>
  <key>uni1E7FC</key>
  <string>uni1E_7F_C_.glif</string>
  <key>uni1E7FD</key>
  <string>uni1E_7F_D_.glif</string>
  <key>uni1E7FE</key>
  <string>uni1E_7F_E_.glif</string>
  <key>uni2013</key>
  <string>uni2013.glif</string>
  <key>uni2014</key>
  <string>uni2014.glif</string>
  <key>uni2018</key>
  <string>uni2018.glif</string>
  <key>uni2019</key>
  <string>uni2019.glif</string>
  <key>uni201A</key>
  <string>uni201A_.glif</string>
  <key>uni201C</key>
  <string>uni201C_.glif</string>
  <key>uni201D</key>
  <string>uni201D_.glif</string>
  <key>uni201E</key>
  <string>uni201E_.glif</string>
  <key>uni2020</key>
  <string>uni2020.glif</string>
  <key>uni2021</key>
  <string>uni2021.glif</string>
  <key>uni2022</key>
  <string>uni2022.glif</string>
  <key>uni2026</key>
  <string>uni2026.glif</string>
  <key>uni2030</key>
  <string>uni2030.glif</string>
  <key>uni2039</key>
  <string>uni2039.glif</string>
  <key>uni203A</key>
  <string>uni203A_.glif</string>
  <key>uni2122</key>
  <string>uni2122.glif</string>
</dict>
</plist>
