<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>33</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-311</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>928</integer>
        <key>width</key>
        <integer>43</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>1194</integer>
        <key>width</key>
        <integer>35</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 50</key>
      <dict>
        <key>width</key>
        <integer>102</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>30</key>
          <integer>2</integer>
          <key>50</key>
          <integer>3</integer>
          <key>70</key>
          <integer>4</integer>
          <key>90</key>
          <integer>5</integer>
          <key>110</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 82</key>
      <dict>
        <key>width</key>
        <integer>168</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>18</key>
          <integer>2</integer>
          <key>31</key>
          <integer>3</integer>
          <key>42</key>
          <integer>4</integer>
          <key>53</key>
          <integer>5</integer>
          <key>68</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 86</key>
      <dict>
        <key>width</key>
        <integer>176</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>18</key>
          <integer>2</integer>
          <key>27</key>
          <integer>3</integer>
          <key>42</key>
          <integer>4</integer>
          <key>53</key>
          <integer>5</integer>
          <key>64</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 125</key>
      <dict>
        <key>width</key>
        <integer>256</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>33</key>
          <integer>5</integer>
          <key>44</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 150</key>
      <dict>
        <key>width</key>
        <integer>307</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>33</key>
          <integer>5</integer>
          <key>37</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 150</key>
      <dict>
        <key>width</key>
        <integer>307</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>33</key>
          <integer>5</integer>
          <key>37</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 87</key>
      <dict>
        <key>width</key>
        <integer>178</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>18</key>
          <integer>2</integer>
          <key>27</key>
          <integer>3</integer>
          <key>42</key>
          <integer>4</integer>
          <key>53</key>
          <integer>5</integer>
          <key>64</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 110</key>
      <dict>
        <key>width</key>
        <integer>225</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>27</key>
          <integer>3</integer>
          <key>32</key>
          <integer>4</integer>
          <key>41</key>
          <integer>5</integer>
          <key>50</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 125</key>
      <dict>
        <key>width</key>
        <integer>256</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>26</key>
          <integer>4</integer>
          <key>33</key>
          <integer>5</integer>
          <key>44</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>uni00AD</string>
    <string>registered</string>
    <string>overscore</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>middot</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>OE</string>
    <string>oe</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Ydieresis</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>florin</string>
    <string>circumflex</string>
    <string>tilde</string>
    <string>uni1200</string>
    <string>uni1201</string>
    <string>uni1202</string>
    <string>uni1203</string>
    <string>uni1204</string>
    <string>uni1205</string>
    <string>uni1206</string>
    <string>uni1208</string>
    <string>uni1209</string>
    <string>uni120A</string>
    <string>uni120B</string>
    <string>uni120C</string>
    <string>uni120D</string>
    <string>uni120E</string>
    <string>uni120F</string>
    <string>uni1210</string>
    <string>uni1211</string>
    <string>uni1212</string>
    <string>uni1213</string>
    <string>uni1214</string>
    <string>uni1215</string>
    <string>uni1216</string>
    <string>uni1217</string>
    <string>uni1218</string>
    <string>uni1219</string>
    <string>uni121A</string>
    <string>uni121B</string>
    <string>uni121C</string>
    <string>uni121D</string>
    <string>uni121E</string>
    <string>uni121F</string>
    <string>uni1220</string>
    <string>uni1221</string>
    <string>uni1222</string>
    <string>uni1223</string>
    <string>uni1224</string>
    <string>uni1225</string>
    <string>uni1226</string>
    <string>uni1227</string>
    <string>uni1228</string>
    <string>uni1229</string>
    <string>uni122A</string>
    <string>uni122B</string>
    <string>uni122C</string>
    <string>uni122D</string>
    <string>uni122E</string>
    <string>uni122F</string>
    <string>uni1230</string>
    <string>uni1231</string>
    <string>uni1232</string>
    <string>uni1233</string>
    <string>uni1234</string>
    <string>uni1235</string>
    <string>uni1236</string>
    <string>uni1237</string>
    <string>uni1238</string>
    <string>uni1239</string>
    <string>uni123A</string>
    <string>uni123B</string>
    <string>uni123C</string>
    <string>uni123D</string>
    <string>uni123E</string>
    <string>uni123F</string>
    <string>uni1240</string>
    <string>uni1241</string>
    <string>uni1242</string>
    <string>uni1243</string>
    <string>uni1244</string>
    <string>uni1245</string>
    <string>uni1246</string>
    <string>uni1248</string>
    <string>uni124A</string>
    <string>uni124B</string>
    <string>uni124C</string>
    <string>uni124D</string>
    <string>uni1250</string>
    <string>uni1251</string>
    <string>uni1252</string>
    <string>uni1253</string>
    <string>uni1254</string>
    <string>uni1255</string>
    <string>uni1256</string>
    <string>uni1258</string>
    <string>uni125A</string>
    <string>uni125B</string>
    <string>uni125C</string>
    <string>uni125D</string>
    <string>uni1260</string>
    <string>uni1261</string>
    <string>uni1262</string>
    <string>uni1263</string>
    <string>uni1264</string>
    <string>uni1265</string>
    <string>uni1266</string>
    <string>uni1267</string>
    <string>uni1268</string>
    <string>uni1269</string>
    <string>uni126A</string>
    <string>uni126B</string>
    <string>uni126C</string>
    <string>uni126D</string>
    <string>uni126E</string>
    <string>uni1270</string>
    <string>uni1271</string>
    <string>uni1272</string>
    <string>uni1273</string>
    <string>uni1274</string>
    <string>uni1275</string>
    <string>uni1276</string>
    <string>uni1277</string>
    <string>uni1278</string>
    <string>uni1279</string>
    <string>uni127A</string>
    <string>uni127B</string>
    <string>uni127C</string>
    <string>uni127D</string>
    <string>uni127E</string>
    <string>uni127F</string>
    <string>uni1280</string>
    <string>uni1281</string>
    <string>uni1282</string>
    <string>uni1283</string>
    <string>uni1284</string>
    <string>uni1285</string>
    <string>uni1286</string>
    <string>uni1288</string>
    <string>uni128A</string>
    <string>uni128B</string>
    <string>uni128C</string>
    <string>uni128D</string>
    <string>uni1290</string>
    <string>uni1291</string>
    <string>uni1292</string>
    <string>uni1293</string>
    <string>uni1294</string>
    <string>uni1295</string>
    <string>uni1296</string>
    <string>uni1297</string>
    <string>uni1298</string>
    <string>uni1299</string>
    <string>uni129A</string>
    <string>uni129B</string>
    <string>uni129C</string>
    <string>uni129D</string>
    <string>uni129E</string>
    <string>uni129F</string>
    <string>uni12A0</string>
    <string>uni12A1</string>
    <string>uni12A2</string>
    <string>uni12A3</string>
    <string>uni12A4</string>
    <string>uni12A5</string>
    <string>uni12A6</string>
    <string>uni12A7</string>
    <string>uni12A8</string>
    <string>uni12A9</string>
    <string>uni12AA</string>
    <string>uni12AB</string>
    <string>uni12AC</string>
    <string>uni12AD</string>
    <string>uni12AE</string>
    <string>uni12B0</string>
    <string>uni12B2</string>
    <string>uni12B3</string>
    <string>uni12B4</string>
    <string>uni12B5</string>
    <string>uni12B8</string>
    <string>uni12B9</string>
    <string>uni12BA</string>
    <string>uni12BB</string>
    <string>uni12BC</string>
    <string>uni12BD</string>
    <string>uni12BE</string>
    <string>uni12C0</string>
    <string>uni12C2</string>
    <string>uni12C3</string>
    <string>uni12C4</string>
    <string>uni12C5</string>
    <string>uni12C8</string>
    <string>uni12C9</string>
    <string>uni12CA</string>
    <string>uni12CB</string>
    <string>uni12CC</string>
    <string>uni12CD</string>
    <string>uni12CE</string>
    <string>uni12D0</string>
    <string>uni12D1</string>
    <string>uni12D2</string>
    <string>uni12D3</string>
    <string>uni12D4</string>
    <string>uni12D5</string>
    <string>uni12D6</string>
    <string>uni12D8</string>
    <string>uni12D9</string>
    <string>uni12DA</string>
    <string>uni12DB</string>
    <string>uni12DC</string>
    <string>uni12DD</string>
    <string>uni12DE</string>
    <string>uni12DF</string>
    <string>uni12E0</string>
    <string>uni12E1</string>
    <string>uni12E2</string>
    <string>uni12E3</string>
    <string>uni12E4</string>
    <string>uni12E5</string>
    <string>uni12E6</string>
    <string>uni12E7</string>
    <string>uni12E8</string>
    <string>uni12E9</string>
    <string>uni12EA</string>
    <string>uni12EB</string>
    <string>uni12EC</string>
    <string>uni12ED</string>
    <string>uni12EE</string>
    <string>uni12F0</string>
    <string>uni12F1</string>
    <string>uni12F2</string>
    <string>uni12F3</string>
    <string>uni12F4</string>
    <string>uni12F5</string>
    <string>uni12F6</string>
    <string>uni12F7</string>
    <string>uni12F8</string>
    <string>uni12F9</string>
    <string>uni12FA</string>
    <string>uni12FB</string>
    <string>uni12FC</string>
    <string>uni12FD</string>
    <string>uni12FE</string>
    <string>uni12FF</string>
    <string>uni1300</string>
    <string>uni1301</string>
    <string>uni1302</string>
    <string>uni1303</string>
    <string>uni1304</string>
    <string>uni1305</string>
    <string>uni1306</string>
    <string>uni1307</string>
    <string>uni1308</string>
    <string>uni1309</string>
    <string>uni130A</string>
    <string>uni130B</string>
    <string>uni130C</string>
    <string>uni130D</string>
    <string>uni130E</string>
    <string>uni1310</string>
    <string>uni1312</string>
    <string>uni1313</string>
    <string>uni1314</string>
    <string>uni1315</string>
    <string>uni1318</string>
    <string>uni1319</string>
    <string>uni131A</string>
    <string>uni131B</string>
    <string>uni131C</string>
    <string>uni131D</string>
    <string>uni131E</string>
    <string>uni1320</string>
    <string>uni1321</string>
    <string>uni1322</string>
    <string>uni1323</string>
    <string>uni1324</string>
    <string>uni1325</string>
    <string>uni1326</string>
    <string>uni1327</string>
    <string>uni1328</string>
    <string>uni1329</string>
    <string>uni132A</string>
    <string>uni132B</string>
    <string>uni132C</string>
    <string>uni132D</string>
    <string>uni132E</string>
    <string>uni132F</string>
    <string>uni1330</string>
    <string>uni1331</string>
    <string>uni1332</string>
    <string>uni1333</string>
    <string>uni1334</string>
    <string>uni1335</string>
    <string>uni1336</string>
    <string>uni1338</string>
    <string>uni1339</string>
    <string>uni133A</string>
    <string>uni133B</string>
    <string>uni133C</string>
    <string>uni133D</string>
    <string>uni133E</string>
    <string>uni133F</string>
    <string>uni1340</string>
    <string>uni1341</string>
    <string>uni1342</string>
    <string>uni1343</string>
    <string>uni1344</string>
    <string>uni1345</string>
    <string>uni1346</string>
    <string>uni1348</string>
    <string>uni1349</string>
    <string>uni134A</string>
    <string>uni134B</string>
    <string>uni134C</string>
    <string>uni134D</string>
    <string>uni134E</string>
    <string>uni134F</string>
    <string>uni1350</string>
    <string>uni1351</string>
    <string>uni1352</string>
    <string>uni1353</string>
    <string>uni1354</string>
    <string>uni1355</string>
    <string>uni1356</string>
    <string>uni1358</string>
    <string>uni1359</string>
    <string>uni135A</string>
    <string>uni1361</string>
    <string>uni1362</string>
    <string>uni1363</string>
    <string>uni1364</string>
    <string>uni1365</string>
    <string>uni1366</string>
    <string>uni1367</string>
    <string>uni1368</string>
    <string>uni1369</string>
    <string>uni136A</string>
    <string>uni136B</string>
    <string>uni136C</string>
    <string>uni136D</string>
    <string>uni136E</string>
    <string>uni136F</string>
    <string>uni1370</string>
    <string>uni1371</string>
    <string>uni1372</string>
    <string>uni1373</string>
    <string>uni1374</string>
    <string>uni1375</string>
    <string>uni1376</string>
    <string>uni1377</string>
    <string>uni1378</string>
    <string>uni1379</string>
    <string>uni137A</string>
    <string>uni137B</string>
    <string>uni137C</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>trademark</string>
    <string>FL20</string>
    <string>uni131F</string>
    <string>uni2D93</string>
    <string>uni2D94</string>
    <string>uni2D95</string>
    <string>uni2D96</string>
    <string>uni1357</string>
    <string>uni1337</string>
    <string>uni126F</string>
  </array>
</dict>
</plist>
