<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>uni000D</string>
    <string>uni0020</string>
    <string>uni0021</string>
    <string>uni0022</string>
    <string>uni0023</string>
    <string>uni0024</string>
    <string>uni0025</string>
    <string>uni0026</string>
    <string>uni0027</string>
    <string>uni0028</string>
    <string>uni0029</string>
    <string>uni002A</string>
    <string>uni002B</string>
    <string>uni002C</string>
    <string>uni002D</string>
    <string>uni002E</string>
    <string>uni002F</string>
    <string>uni0030</string>
    <string>uni0031</string>
    <string>uni0032</string>
    <string>uni0033</string>
    <string>uni0034</string>
    <string>uni0035</string>
    <string>uni0036</string>
    <string>uni0037</string>
    <string>uni0038</string>
    <string>uni0039</string>
    <string>uni003A</string>
    <string>uni003B</string>
    <string>uni003C</string>
    <string>uni003D</string>
    <string>uni003E</string>
    <string>uni003F</string>
    <string>uni0040</string>
    <string>uni0041</string>
    <string>uni0042</string>
    <string>uni0043</string>
    <string>uni0044</string>
    <string>uni0045</string>
    <string>uni0046</string>
    <string>uni0047</string>
    <string>uni0048</string>
    <string>uni0049</string>
    <string>uni004A</string>
    <string>uni004B</string>
    <string>uni004C</string>
    <string>uni004D</string>
    <string>uni004E</string>
    <string>uni004F</string>
    <string>uni0050</string>
    <string>uni0051</string>
    <string>uni0052</string>
    <string>uni0053</string>
    <string>uni0054</string>
    <string>uni0055</string>
    <string>uni0056</string>
    <string>uni0057</string>
    <string>uni0058</string>
    <string>uni0059</string>
    <string>uni005A</string>
    <string>uni005B</string>
    <string>uni005C</string>
    <string>uni005D</string>
    <string>uni005E</string>
    <string>uni005F</string>
    <string>uni0060</string>
    <string>uni0061</string>
    <string>uni0062</string>
    <string>uni0063</string>
    <string>uni0064</string>
    <string>uni0065</string>
    <string>uni0066</string>
    <string>uni0067</string>
    <string>uni0068</string>
    <string>uni0069</string>
    <string>uni006A</string>
    <string>uni006B</string>
    <string>uni006C</string>
    <string>uni006D</string>
    <string>uni006E</string>
    <string>uni006F</string>
    <string>uni0070</string>
    <string>uni0071</string>
    <string>uni0072</string>
    <string>uni0073</string>
    <string>uni0074</string>
    <string>uni0075</string>
    <string>uni0076</string>
    <string>uni0077</string>
    <string>uni0078</string>
    <string>uni0079</string>
    <string>uni007A</string>
    <string>uni007B</string>
    <string>uni007C</string>
    <string>uni007D</string>
    <string>uni007E</string>
    <string>uni00A1</string>
    <string>uni00A2</string>
    <string>uni00A3</string>
    <string>uni00A4</string>
    <string>uni00A5</string>
    <string>uni00A6</string>
    <string>uni00A7</string>
    <string>uni00A8</string>
    <string>uni00A9</string>
    <string>uni00AA</string>
    <string>uni00AB</string>
    <string>uni00AC</string>
    <string>uni00AE</string>
    <string>uni00AF</string>
    <string>uni00B0</string>
    <string>uni00B1</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni00B4</string>
    <string>mu</string>
    <string>uni00B6</string>
    <string>uni00B7</string>
    <string>uni00B8</string>
    <string>uni00B9</string>
    <string>uni00BA</string>
    <string>uni00BB</string>
    <string>uni00BC</string>
    <string>uni00BD</string>
    <string>uni00BE</string>
    <string>uni00BF</string>
    <string>uni00C0</string>
    <string>uni00C1</string>
    <string>uni00C2</string>
    <string>uni00C3</string>
    <string>uni00C4</string>
    <string>uni00C5</string>
    <string>uni00C6</string>
    <string>uni00C7</string>
    <string>uni00C8</string>
    <string>uni00C9</string>
    <string>uni00CA</string>
    <string>uni00CB</string>
    <string>uni00CC</string>
    <string>uni00CD</string>
    <string>uni00CE</string>
    <string>uni00CF</string>
    <string>uni00D0</string>
    <string>uni00D1</string>
    <string>uni00D2</string>
    <string>uni00D3</string>
    <string>uni00D4</string>
    <string>uni00D5</string>
    <string>uni00D6</string>
    <string>uni00D7</string>
    <string>uni00D8</string>
    <string>uni00D9</string>
    <string>uni00DA</string>
    <string>uni00DB</string>
    <string>uni00DC</string>
    <string>uni00DD</string>
    <string>uni00DE</string>
    <string>uni00DF</string>
    <string>uni00E0</string>
    <string>uni00E1</string>
    <string>uni00E2</string>
    <string>uni00E3</string>
    <string>uni00E4</string>
    <string>uni00E5</string>
    <string>uni00E6</string>
    <string>uni00E7</string>
    <string>uni00E8</string>
    <string>uni00E9</string>
    <string>uni00EA</string>
    <string>uni00EB</string>
    <string>uni00EC</string>
    <string>uni00ED</string>
    <string>uni00EE</string>
    <string>uni00EF</string>
    <string>uni00F0</string>
    <string>uni00F1</string>
    <string>uni00F2</string>
    <string>uni00F3</string>
    <string>uni00F4</string>
    <string>uni00F5</string>
    <string>uni00F6</string>
    <string>uni00F7</string>
    <string>uni00F8</string>
    <string>uni00F9</string>
    <string>uni00FA</string>
    <string>uni00FB</string>
    <string>uni00FC</string>
    <string>uni00FD</string>
    <string>uni00FE</string>
    <string>uni00FF</string>
    <string>uni0152</string>
    <string>uni0153</string>
    <string>uni0160</string>
    <string>uni0161</string>
    <string>uni0178</string>
    <string>uni017D</string>
    <string>uni017E</string>
    <string>uni0192</string>
    <string>uni02C6</string>
    <string>uni02DC</string>
    <string>uni1200</string>
    <string>uni1201</string>
    <string>uni1202</string>
    <string>uni1203</string>
    <string>uni1204</string>
    <string>uni1205</string>
    <string>uni1206</string>
    <string>uni1208</string>
    <string>uni1209</string>
    <string>uni120A</string>
    <string>uni120B</string>
    <string>uni120C</string>
    <string>uni120D</string>
    <string>uni120E</string>
    <string>uni120F</string>
    <string>uni1210</string>
    <string>uni1211</string>
    <string>uni1212</string>
    <string>uni1213</string>
    <string>uni1214</string>
    <string>uni1215</string>
    <string>uni1216</string>
    <string>uni1217</string>
    <string>uni1218</string>
    <string>uni1219</string>
    <string>uni121A</string>
    <string>uni121B</string>
    <string>uni121C</string>
    <string>uni121D</string>
    <string>uni121E</string>
    <string>uni121F</string>
    <string>uni1220</string>
    <string>uni1221</string>
    <string>uni1222</string>
    <string>uni1223</string>
    <string>uni1224</string>
    <string>uni1225</string>
    <string>uni1226</string>
    <string>uni1227</string>
    <string>uni1228</string>
    <string>uni1229</string>
    <string>uni122A</string>
    <string>uni122B</string>
    <string>uni122C</string>
    <string>uni122D</string>
    <string>uni122E</string>
    <string>uni122F</string>
    <string>uni1230</string>
    <string>uni1231</string>
    <string>uni1232</string>
    <string>uni1233</string>
    <string>uni1234</string>
    <string>uni1235</string>
    <string>uni1236</string>
    <string>uni1237</string>
    <string>uni1238</string>
    <string>uni1239</string>
    <string>uni123A</string>
    <string>uni123B</string>
    <string>uni123C</string>
    <string>uni123D</string>
    <string>uni123E</string>
    <string>uni123F</string>
    <string>uni1240</string>
    <string>uni1241</string>
    <string>uni1242</string>
    <string>uni1243</string>
    <string>uni1244</string>
    <string>uni1245</string>
    <string>uni1246</string>
    <string>uni1248</string>
    <string>uni1E7F0</string>
    <string>uni124B</string>
    <string>uni1E7F1</string>
    <string>uni1E7F2</string>
    <string>uni1250</string>
    <string>uni1251</string>
    <string>uni1252</string>
    <string>uni1253</string>
    <string>uni1254</string>
    <string>uni1255</string>
    <string>uni1256</string>
    <string>uni1258</string>
    <string>uni125A</string>
    <string>uni125B</string>
    <string>uni125C</string>
    <string>uni125D</string>
    <string>uni1260</string>
    <string>uni1261</string>
    <string>uni1262</string>
    <string>uni1263</string>
    <string>uni1264</string>
    <string>uni1265</string>
    <string>uni1266</string>
    <string>uni1267</string>
    <string>uni1268</string>
    <string>uni1269</string>
    <string>uni126A</string>
    <string>uni126B</string>
    <string>uni126C</string>
    <string>uni126D</string>
    <string>uni126E</string>
    <string>uni126F</string>
    <string>uni1270</string>
    <string>uni1271</string>
    <string>uni1272</string>
    <string>uni1273</string>
    <string>uni1274</string>
    <string>uni1275</string>
    <string>uni1276</string>
    <string>uni1277</string>
    <string>uni1278</string>
    <string>uni1279</string>
    <string>uni127A</string>
    <string>uni127B</string>
    <string>uni127C</string>
    <string>uni127D</string>
    <string>uni127E</string>
    <string>uni127F</string>
    <string>uni1280</string>
    <string>uni1281</string>
    <string>uni1282</string>
    <string>uni1283</string>
    <string>uni1284</string>
    <string>uni1285</string>
    <string>uni1286</string>
    <string>uni1288</string>
    <string>uni128A</string>
    <string>uni128B</string>
    <string>uni128C</string>
    <string>uni128D</string>
    <string>uni1290</string>
    <string>uni1291</string>
    <string>uni1292</string>
    <string>uni1293</string>
    <string>uni1294</string>
    <string>uni1295</string>
    <string>uni1296</string>
    <string>uni1297</string>
    <string>uni1298</string>
    <string>uni1299</string>
    <string>uni129A</string>
    <string>uni129B</string>
    <string>uni129C</string>
    <string>uni129D</string>
    <string>uni129E</string>
    <string>uni129F</string>
    <string>uni12A0</string>
    <string>uni12A1</string>
    <string>uni12A2</string>
    <string>uni12A3</string>
    <string>uni12A4</string>
    <string>uni12A5</string>
    <string>uni12A6</string>
    <string>uni12A7</string>
    <string>uni12A8</string>
    <string>uni12A9</string>
    <string>uni12AA</string>
    <string>uni12AB</string>
    <string>uni12AC</string>
    <string>uni12AD</string>
    <string>uni12AE</string>
    <string>uni12B0</string>
    <string>uni1E7F5</string>
    <string>uni12B3</string>
    <string>uni1E7F6</string>
    <string>uni1E7F7</string>
    <string>uni12B8</string>
    <string>uni12B9</string>
    <string>uni12BA</string>
    <string>uni12BB</string>
    <string>uni12BC</string>
    <string>uni12BD</string>
    <string>uni12BE</string>
    <string>uni12C0</string>
    <string>uni12C2</string>
    <string>uni12C3</string>
    <string>uni12C4</string>
    <string>uni12C5</string>
    <string>uni12C8</string>
    <string>uni12C9</string>
    <string>uni12CA</string>
    <string>uni12CB</string>
    <string>uni12CC</string>
    <string>uni12CD</string>
    <string>uni12CE</string>
    <string>uni12D0</string>
    <string>uni12D1</string>
    <string>uni12D2</string>
    <string>uni12D3</string>
    <string>uni12D4</string>
    <string>uni12D5</string>
    <string>uni12D6</string>
    <string>uni12D8</string>
    <string>uni12D9</string>
    <string>uni12DA</string>
    <string>uni12DB</string>
    <string>uni12DC</string>
    <string>uni12DD</string>
    <string>uni12DE</string>
    <string>uni12DF</string>
    <string>uni12E0</string>
    <string>uni12E1</string>
    <string>uni12E2</string>
    <string>uni12E3</string>
    <string>uni12E4</string>
    <string>uni12E5</string>
    <string>uni12E6</string>
    <string>uni12E7</string>
    <string>uni12E8</string>
    <string>uni12E9</string>
    <string>uni12EA</string>
    <string>uni12EB</string>
    <string>uni12EC</string>
    <string>uni12ED</string>
    <string>uni12EE</string>
    <string>uni12F0</string>
    <string>uni12F1</string>
    <string>uni12F2</string>
    <string>uni12F3</string>
    <string>uni12F4</string>
    <string>uni12F5</string>
    <string>uni12F6</string>
    <string>uni12F7</string>
    <string>uni12F8</string>
    <string>uni12F9</string>
    <string>uni12FA</string>
    <string>uni12FB</string>
    <string>uni12FC</string>
    <string>uni12FD</string>
    <string>uni12FE</string>
    <string>uni12FF</string>
    <string>uni1300</string>
    <string>uni1301</string>
    <string>uni1302</string>
    <string>uni1303</string>
    <string>uni1304</string>
    <string>uni1305</string>
    <string>uni1306</string>
    <string>uni1307</string>
    <string>uni1308</string>
    <string>uni1309</string>
    <string>uni130A</string>
    <string>uni130B</string>
    <string>uni130C</string>
    <string>uni130D</string>
    <string>uni130E</string>
    <string>uni1310</string>
    <string>uni1E7F8</string>
    <string>uni1313</string>
    <string>uni1E7F9</string>
    <string>uni1E7FA</string>
    <string>uni1318</string>
    <string>uni1319</string>
    <string>uni131A</string>
    <string>uni131B</string>
    <string>uni131C</string>
    <string>uni131D</string>
    <string>uni131E</string>
    <string>uni1320</string>
    <string>uni1321</string>
    <string>uni1322</string>
    <string>uni1323</string>
    <string>uni1324</string>
    <string>uni1325</string>
    <string>uni1326</string>
    <string>uni1327</string>
    <string>uni1328</string>
    <string>uni1329</string>
    <string>uni132A</string>
    <string>uni132B</string>
    <string>uni132C</string>
    <string>uni132D</string>
    <string>uni132E</string>
    <string>uni132F</string>
    <string>uni1330</string>
    <string>uni1331</string>
    <string>uni1332</string>
    <string>uni1333</string>
    <string>uni1334</string>
    <string>uni1335</string>
    <string>uni1336</string>
    <string>uni1338</string>
    <string>uni1339</string>
    <string>uni133A</string>
    <string>uni133B</string>
    <string>uni133C</string>
    <string>uni133D</string>
    <string>uni133E</string>
    <string>uni133F</string>
    <string>uni1340</string>
    <string>uni1341</string>
    <string>uni1342</string>
    <string>uni1343</string>
    <string>uni1344</string>
    <string>uni1345</string>
    <string>uni1346</string>
    <string>uni1348</string>
    <string>uni1349</string>
    <string>uni134A</string>
    <string>uni134B</string>
    <string>uni134C</string>
    <string>uni134D</string>
    <string>uni134E</string>
    <string>uni134F</string>
    <string>uni1350</string>
    <string>uni1351</string>
    <string>uni1352</string>
    <string>uni1353</string>
    <string>uni1354</string>
    <string>uni1355</string>
    <string>uni1356</string>
    <string>uni1357</string>
    <string>uni1358</string>
    <string>uni1359</string>
    <string>uni135A</string>
    <string>uni1361</string>
    <string>uni1362</string>
    <string>uni1363</string>
    <string>uni1364</string>
    <string>uni1365</string>
    <string>uni1366</string>
    <string>uni1367</string>
    <string>uni1368</string>
    <string>uni1369</string>
    <string>uni136A</string>
    <string>uni136B</string>
    <string>uni136C</string>
    <string>uni136D</string>
    <string>uni136E</string>
    <string>uni136F</string>
    <string>uni1370</string>
    <string>uni1371</string>
    <string>uni1372</string>
    <string>uni1373</string>
    <string>uni1374</string>
    <string>uni1375</string>
    <string>uni1376</string>
    <string>uni1377</string>
    <string>uni1378</string>
    <string>uni1379</string>
    <string>uni137A</string>
    <string>uni137B</string>
    <string>uni137C</string>
    <string>uni2013</string>
    <string>uni2014</string>
    <string>uni2018</string>
    <string>uni2019</string>
    <string>uni201A</string>
    <string>uni201C</string>
    <string>uni201D</string>
    <string>uni201E</string>
    <string>uni2020</string>
    <string>uni2021</string>
    <string>uni2022</string>
    <string>uni2026</string>
    <string>uni2030</string>
    <string>uni2039</string>
    <string>uni203A</string>
    <string>uni2122</string>
    <string>uni1337</string>
    <string>uni1360</string>
    <string>uni1380</string>
    <string>uni1E7ED</string>
    <string>uni1E7EE</string>
    <string>uni1383</string>
    <string>uni1384</string>
    <string>uni1E7F3</string>
    <string>uni1E7F4</string>
    <string>uni1387</string>
    <string>uni1388</string>
    <string>uni1E7FB</string>
    <string>uni1E7FC</string>
    <string>uni138B</string>
    <string>uni138C</string>
    <string>uni1E7FD</string>
    <string>uni1E7FE</string>
    <string>uni138F</string>
    <string>uni1E7E0</string>
    <string>uni1E7E1</string>
    <string>uni1E7E2</string>
    <string>uni1E7E3</string>
    <string>uni1E7E4</string>
    <string>uni1E7E5</string>
    <string>uni1E7E6</string>
    <string>uni1E7E8</string>
    <string>uni1E7E9</string>
    <string>uni1E7EA</string>
    <string>uni1E7EB</string>
    <string>qwi-ethi</string>
    <string>qwee-ethi</string>
    <string>qwe-ethi</string>
    <string>kwi-ethi</string>
    <string>kwee-ethi</string>
    <string>kwe-ethi</string>
    <string>gwi-ethi</string>
    <string>gwee-ethi</string>
    <string>gwe-ethi</string>
  </array>
</dict>
</plist>
